body {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.hight-block__info {
  margin: 0px auto 0px 100px;
  clip-path: polygon(0% 20%, 100% 60%, 100% 100%, 0% 100%);
  width: calc(50% - 100px);
  row-gap: 30px;
}

.clipped-block {
  display: none;
}

.projects-ako {
  position: absolute;
  bottom: 20px;
  right: 120px;
  width: 55px;
  height: 55px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
}

h1 {
  color: var(--black);
  font-size: 80px;
}

.project-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 100px;
  align-items: center;
}

#example {
  display: block;
}

.burger-menu {
  display: none;
}

.new {
  opacity: 0; /* Изначально скрываем буквы */
}

.div_opacity {
  opacity: 1; /* Показываем буквы с анимацией */
  transition: opacity 0.5s ease-in-out; /* Добавляем плавную анимацию */
}

.flex-adapt {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
}

.project-txt {
  color: var(--darkgrey);
  font-weight: 350;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0%;
  max-width: 521px;
  margin-left: 401px;
}

.project-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  column-gap: 60px;
  justify-content: center;
}

.project-btn {
  width: 141px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 1px solid var(--darkgrey);
  color: var(--darkgrey);
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}

.acrive-project {
    border: 1px solid var(--yellow);
}

.main-grid-container {
  padding: 0px 100px;
}

.two-items {
  height: 526px;
  grid-template-rows: 1fr;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .hight-block__info {
    margin: 0px auto 0px 60px;
    width: calc(50% - 60px);
  }

  .hight-block__title {
    font-size: 43px;
  }

  .project-info {
    width: 100%;
    justify-content: space-between;
    padding: 0px 60px;
  }

  .project-txt {
      margin-left: 0px;
  }

  .projects-ako {
    right: 75px;
  }

  .project-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    column-gap: 30px;
    justify-content: center;
  }

  .flex-adapt {
    column-gap: 30px;
  }

  .main-grid-container {
    padding: 0px 60px;
  }

  .burger-menu {
  display: none;
}

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    row-gap: 30px;
  }

    .hight-block__info {
        width: 100%;
        padding: 0px 20px;
        margin: 0px;
        clip-path: none;
        position: absolute;
        bottom: 20px;
        left: 0px;
    }

  .blur-mod {
    display: none;
  }

  .projects-ako {
    display: none;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0px 30px;
    align-items: baseline;
  }


  .project-txt {
      margin-left: 0px;
  }

  .project-btns {
    flex-direction: column;
    row-gap: 10px;
    align-items: baseline;
    padding: 0px 30px;
    width: 100%;
  }

  .main-grid-container {
    padding: 0px 30px;
  }

  .two-items {
    height: 1000px;
  }

  .all {
    width: 100%;
  }

  .flex-adapt {
    column-gap: 10px;
    width: 100%;
  }

  .kvar {
    width: 45%;
  }  

  .home {
    width: 53%;
  }

  .off {
    width: 53%;
  }

  .proch {
    width: 45%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
      row-gap: 15px;
    }

    .hight-block__info {
        width: 100%;
        padding: 0px 20px;
        margin: 0px;
        clip-path: none;
        position: absolute;
        bottom: 20px;
        left: 0px;
    }

    .hight-block__title {
      font-size: 35px;
    }

    .projects-ako {
      display: none;
    }

    .project-btns {
    flex-direction: column;
    row-gap: 10px;
    align-items: baseline;
    margin-left: 30px;
  }

  .main-grid-container {
    padding: 0px 30px;
  }

  .two-items {
    height: 750px;
  }

  .all {
    width: 288px;
  }

      .burger-menu {
  display: flex;
}


  .flex-adapt {
    column-gap: 12px;
  }

  .kvar {
    width: 157px;
  }  

  .home {
    width: 119px;
  }

    .project-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0px 30px;
    align-items: baseline;
  }

  .project-txt {
    margin-left: 0px;
  }

    .project-btns {
    flex-direction: column;
    row-gap: 10px;
    align-items: baseline;
    padding: 0px 30px;
    width: 100%;
    margin-left: 0px;
  }

  .main-grid-container {
    padding: 0px 30px;
  }

  .two-items {
    height: 700px;
  }

  .all {
    width: 100%;
  }

  .flex-adapt {
    column-gap: 10px;
    width: 100%;
  }

  .kvar {
    width: 45%;
  }  

  .home {
    width: 53%;
  }

  .off {
    width: 53%;
  }

  .proch {
    width: 45%;
  }
}
@media screen and (max-width: 479px) { 
    h1 {
      font-size: 60px;
    }

    .burger-menu {
  display: flex;
}

  
    body {
      row-gap: 15px;
    }

    .hight-block__info {
        width: 100%;
        padding: 0px 20px;
        margin: 0px;
        clip-path: none;
        position: absolute;
        bottom: 20px;
        left: 0px;
    }

    .project-txt {
      margin-left: 0px;
    }

    .hight-block__title {
      font-size: 22px;
    }

    .projects-ako {
      display: none;
    }

    .project-btns {
    flex-direction: column;
    row-gap: 10px;
    align-items: baseline;
    margin-left: 16px;
  }

  .main-grid-container {
    padding: 0px 16px;
  }

  .two-items {
    height: 720px;
  }

  .all {
    width: 288px;
  }

  .flex-adapt {
    column-gap: 12px;
  }

  .kvar {
    width: 157px;
  }  

  .home {
    width: 119px;
  }

    .project-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0px 16px;
    align-items: baseline;
  }

  .project-btns {
    flex-direction: column;
    row-gap: 10px;
    align-items: baseline;
    padding: 0px 30px;
    width: 100%;
    margin-left: 0px;
  }

  .main-grid-container {
    padding: 0px 30px;
  }

  .two-items {
    height: 720px;
  }

  .all {
    width: 100%;
  }

  .flex-adapt {
    column-gap: 10px;
    width: 100%;
  }

  .kvar {
    width: 45%;
  }  

  .home {
    width: 53%;
  }

  .off {
    width: 53%;
  }

  .proch {
    width: 45%;
  }
}