@import './slider-gallery.css';
@import './slider-cards.css';
@import '../../components/modal.css';

.services-main__txt-info span {
  font-weight: 600;
}

.services-main__block-components {
  display: none;
}

.services-main__drawings {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.services-main__drawings-copm {
  width: auto;
  display: flex !important;
  flex-direction: column;
  row-gap: 5px;
}

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.all-proects {
  margin-bottom: 0px;
  width: 251px;
  height: 48px;
  background-color: var(--white);
  padding: 15px 24px;
  border: 1px solid #3A3A3A;
  color: #3A3A3A;
  font-weight: 350;
  font-size: 15px;
  cursor: pointer;
  margin-left: 44%;
  margin-right: auto;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .all-proects {
    margin-left: 43%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .all-proects {
    margin-left: 42%;
  }
  .slick-list {
    margin: 0 3px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .services-main__drawings {
    row-gap: 60px;
  }
        .all-proects {
        margin-left: auto;
      }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .services-main__point {
    column-gap: 20px;
  }

  .services-main__point-txt {
    font-size: 18px;
  }

    .services-main__drawings-copm {
  height: 350px !important;
  }
  
  .services-main__drawings {
    row-gap: 30px;
  }
        .all-proects {
        margin-left: auto;
      }
}
@media screen and (max-width: 479px) {
  .services-main__point {
    column-gap: 20px;
  }

  .services-main__drawings-copm {
  height: 220px !important;
  font-size: 10px;
  }

  .services-main__drawings-item {
    height: 200px !important;
  }

  .services-main__point-txt {
    font-size: 16px;
  }
  
        .all-proects {
        margin-left: auto;
      }
      
  .services-main__drawings {
    row-gap: 20px;
  }
}